<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Usuarios</title>
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
<nav
		class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#" >Asurf</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<form th:action="@{/logout}" method="POST"
				class="form-inline mt-2 mt-md-0">
				
			</form>
		</div>
	</nav>
	<div class="jumbotron">
	<div class="container">
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Cadastro</h1>
		</div>
		<div class="panel-body">

			<form class="form-horizontal" method="POST" th:object="${usuario}"
				th:action="@{/cadastrar}">
				<div class="alert alert-success"
					th:if="${! #strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>

				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>

				<input type="text" hidden="true" th:field="*{id}" />
				<div class="form-group row">
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{nome}"
							placeholder="Nome" />
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-10">
						<input class="form-control" type="password" th:field="*{senha}"
							placeholder="Senha" />

					</div>
				</div>
				<div class="form-group  row">
					<div class="col-10">
						<label th:each="sexo : ${sexos}" class="radio-inline"> <input
							type="radio" th:value="${sexo}" th:field="*{sexo}" /> <span
							th:text="${sexo.descricao}"></span>
						</label>
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{email}"
							placeholder="Email" />

					</div>
				</div>
				<div class="form-group row ">
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{cpf}"
							placeholder="CPF" />

					</div>
				</div>
				<div class="form-group row ">
					<div class="col-10">
						<input class="form-control" type="text" th:field="*{telefone}"
							placeholder="Telefone" />
					</div>
				</div>
			
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
	
		</div>
	</div>
	</div></div>
</body>
</html>