<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Eventos</title>
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css}"
	rel="stylesheet" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>	
	
<link  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />

	
<script type="text/javascript">
$(function() {
	var dateToday = new Date(); 
    $('#datepickerInicio').datepicker({
    	format: 'dd/mm/yyyy'
    	});
    $('#datepickerFim').datepicker({ 
    	format: 'dd/mm/yyyy'
    	}).val();
});
</script>
</head>
<body>
	<nav
		class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#" >Asurf</a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/usuarios"
				sec:authorize="hasRole('ROLE_ADMIN')">Usuarios
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/roles"
				sec:authorize="hasRole('ROLE_ADMIN')">Roles</a></li>
				<li class="nav-item"><a class="nav-link" href="/praias"
				sec:authorize="hasRole('ROLE_ADMIN')">Praias</a></li>
				<li class="nav-item"><a class="nav-link" href="/modalidades"
				sec:authorize="hasRole('ROLE_ADMIN')">Modalidades</a></li>
				<li class="nav-item"><a class="nav-link" href="/eventos"
				sec:authorize="hasRole('ROLE_ADMIN')">Evento</a></li>
				<sec:authorize ifAllGranted="ROLE_ADMIN,ROLE_USER">
				<li class="nav-item"><a class="nav-link" href="/montaAgenda">Agenda</a></li>
				</sec:authorize>
				<sec:authorize ifAllGranted="ROLE_ADMIN,ROLE_USER">
				<li class="nav-item"><a class="nav-link" href="/montaMapa">Mapa</a></li>
				</sec:authorize>
				<sec:authorize ifAllGranted="ROLE_USER">
				<li class="nav-item"><a class="nav-link" href="/eventosPart">Eventos Participantes</a></li>
				</sec:authorize>
			</ul>

			<form th:action="@{/logout}" method="POST"
				class="form-inline mt-2 mt-md-0">
				<input class="btn btn-primary" type="submit" value="Logout" />
			</form>
		</div>
	</nav>
	<div class="jumbotron">
	<div class="container">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Eventos</h1>
			</div>
			<div class="panel-body">

				<form class="form-horizontal" method="POST" th:object="${evento}"
					th:action="@{/eventos}">
					<div class="alert alert-success"
						th:if="${! #strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>

					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>

					<input type="text" hidden="true" th:field="*{id}" />
					<div class="form-group row">
						<div class="col-10">
							<input class="form-control" type="text" th:field="*{title}"
								placeholder="Titulo" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-10">
							<input class="form-control" type="text" th:field="*{start}"  id="datepickerInicio" 
								placeholder="Inicio"  />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-10">
							<input class="form-control" type="text" th:field="*{end}" id="datepickerFim" 
								placeholder="Fim" />
						</div>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>modalidade</th>
								<th>Associar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="modalidade : ${modalidades}">
								<td th:text="${modalidade.nome}"></td>
								<td><input type="checkbox" th:field="*{modalidade}"
									th:value="${modalidade.id}" /></td>
							</tr>
						</tbody>
					</table>
					<table class="table">
						<thead>
							<tr>
								<th>praia</th>
								<th>Associar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="praia : ${praias}">
								<td th:text="${praia.nome}"></td>
								<td><input type="checkbox" th:field="*{praia}"
									th:value="${praia.id}" /></td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titulo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="evento : ${eventos}">
							<td th:text="${evento.id}"></td>
							<td th:text="${evento.title}"></td>
							<td><a th:href="@{/evento/editar/{id}(id=${evento.id})}">Editar</a></td>
							<td><a th:href="@{/evento/excluir/{id}(id=${evento.id})}">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</body>
</html>