<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Modalidades</title>
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Modalidades</h1>
		</div>
		<div class="panel-body">

			<form class="form-horizontal" method="POST" th:object="${modalidade}"
				th:action="@{/modalidades}">
				<div class="alert alert-success"
					th:if="${! #strings.isEmpty(mensagem)}" th:text="${mensagem}"></div>

				<!--  <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors('senha')}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>-->

				<input type="text" hidden="true" th:field="*{id}"/>
				<div class="form-group row">
					<div class="col-10">
						<input class="form-control"
							th:classappend="${#fields.hasErrors('nome')} ? alert-danger"
							type="text" th:field="*{nome}" placeholder="Nome"/>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th> 
					</tr>
				</thead>
				<tbody>
					<tr th:each="modalidade : ${modalidades}">
						<td th:text="${modalidade.id}"></td>
						<td th:text="${modalidade.nome}"></td> 
						<td><a th:href="@{/modalidade/editar/{id}(id=${modalidade.id})}">Editar</a></td>
						<td><a th:href="@{/modalidade/excluir/{id}(id=${modalidade.id})}">Excluir</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>